* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
 background-color: bisque;
}

main {
    padding: 100px 0;
}

header {
    background-color: white;
    padding: 20px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.play-button {
    border-radius: 5px;
    background-color: #187ec2;
    min-width: 80px;
    line-height: 30px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cella {
    width: 10%;
    border: 2px solid bisque;
    aspect-ratio: 1/1;
    flex-basis: (100% / 10);
    background-color: #187ec2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main-header .row {
    justify-content: flex-end;
}

.cella.success {
    background-color: #88ed64;
    color: black;
}

.cella.bomb {
    background-color:red;
    color: black;
}


